




@media (max-width: 768px) {
    /* Header */
    header, .our_plants, .flower_lover {
    margin: 20px 10px;
}
    /* Nav */
    .nav_item li:nth-child(1),
    .nav_item li:nth-child(2),
    .nav_item li:nth-child(3) {
        display: none;
    }
    .brand img {
    width: 63px;
}
    /* Banner */
    .banner {
        flex-direction: column-reverse;
    }
    /* Our Plants design */
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    /* Flower And plant lover */
    #flower_lover {
    margin-top: 50px;
}
    .flower_lover {
        flex-direction: column;
    }
    .batch {
        display: none;
    }

    /* Color full Bunch style  */
    .color_full_bunch h1 {
        font-size: 1.25rem;
        padding: 110px 36px 0 36px;
    }
    .search {
        padding-bottom: 64px;
    }
    .search input {
        width: 218px;
  }
    .Subscribe_btn {
        width: 103px;
  }
  
}