




@media (max-width: 768px) {
    /* Header */
    header, 
    .our_plants, 
    .flower_lover, 
    .latest_deals, 
    .footer,
    .latest_deals {
    margin: 20px 20px;
}
    /* Nav */
    .nav_item li:nth-child(1),
    .nav_item li:nth-child(2),
    .nav_item li:nth-child(3) {
        display: none;
    }
    .brand img {
    width: 63px;
}
    /* Banner */
    .banner {
        flex-direction: column-reverse;
    }
    /* Our Plants design */
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    /* Flower And plant lover */
    #flower_lover {
    margin-top: 50px;
}
    .flower_lover {
        flex-direction: column;
    }
    .batch {
        display: none;
    }
    /* Latest Deals section style */
    .latest_deals_contant {
    flex-direction: column;
    }
    .latest_deals_left,
    .zabo_plant {
        width: 90%;
    }
    .bloom_plant,
    .ana_plant {
        border-radius: 0;
    }
    .zabo_plant {
        height: 177px;
        border-radius: 0;
    }
    .zabo_plant h4 {
        padding: 43px 40px;
        font-size: 1.25rem;
    }
    .zabo_plant a {
        margin-top: -66px;
        font-size: 1rem;
    }
    /* Color full Bunch style  */
    .color_full_bunch h1 {
        font-size: 1.75rem;
        padding: 110px 36px 0 36px;
    }
    .search {
        padding-bottom: 64px;
    }
    .search input {
        width: 218px;
  }
    .Subscribe_btn {
        width: 103px;
  }
  /* Footer */
  .footer, .footer_mid {
    flex-direction: column;
    gap: 10px;
  }
}