



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* common style  */
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
}
/* Shared style  */
.flex {
    display: flex;
}
.primary_text {
   font-family: Inter;
   font-size: 1.375rem;
   color: rgba(0, 0, 0, 0.5);
   margin: 0;
}
.section_title {
    font-family: Noto Serif;
    font-size: 3.125rem;
    color: #000;
    font-weight: bold;
}
.title_span {
    color: #E95A08;
}
/* Header Style  */
header {
    margin: 20px 150px;
}
nav {
    justify-content: space-between;
    align-items: center;
}
.brand img {
    width: 135px;
}
.nav_item {
    gap: 48px;
}
#home {
    color: #252432;
    font-weight: bold;
}
#cart {
    color: #252432;
}
.cart_image img {
    width: 24px;
    height: 24px;
}
.nav_item li a {
    font-family: Inter;
    font-size: 1rem;
    line-height: 24px;
    color: #8987A1;
}
.last_nav_item {
    gap: 10px;
}
/* Banner style  */
.banner {
    justify-content: space-between;
    margin-top: 150px;
}
.banner_content {
    max-width: 570px;
    margin-top: 51px;
}
/* Our Plants design */
.our_plants {
    margin: 50px 150px;
}
.our_plants h2 {
    text-align: center;
} 
.our_plants p {
    text-align: center;
    margin: -27px 0;
}
.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 49px;
}
.card {
    max-width: 270px;
    margin-top: 60px;
}
.card_title {
    font-size: 1.375;
    font-family: Inter;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    color: #111111;
}
.card_usd {
    font-size: 1.375;
    font-family: Inter;
    line-height: 150%;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    color: #111111;
}
.card_btn {
    width: 100%;
    color: #fff;
    font-family: Inter;
    font-weight: bold;
    font-size: 1.375;
    padding: 19px 80px;
    background-color: #E95A08;
    border: none;
}
/* Flower And plant lover */
#flower_lover {
    margin-top: 145px;
}
.flower_lover {
    margin: 100px 150px;
    justify-content: space-between;
}
.flower_lover_img {
    position: relative;
}
.batch img {
    max-width: 286px;
}
.batch {
    position: absolute;
    top: -21%;
    right: -17%;
}
.flower_lover_des {
    max-width: 540px;
}
.flower_lover_des ul li {
    list-style: disc;
    margin-top: 20px;
}
/* Latest Deals section style */
/* .latest_deals {
    margin: 70px 150px;
}
.latest_deals h2 {
    text-align: center;
}
.latest_deals p {
    text-align: center; 
    margin-top: -32px;    
}
.latest_deals_contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    
}
#pic_2 {
    grid-row: span2;
}

.bloom_plant {
    background: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    max-width: 367px;
    width: 100%;
    height: 201px;
    background-size: cover;
    border-radius: 14px;
}
.bloom_plant h4,
.ana_plant h4 {
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 60px 60px;
}
.bloom_plant a, 
.ana_plant a {
    font-family: Noto Serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: -83px;
}
.ana_plant {
    background: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    max-width: 367px;
    width: 100%;
    height: 201px;
    background-size: cover;
    border-radius: 14px;
}
.zabo_plant {
    background: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    max-width: 753px;
    width: 100%;
    height: 423px;
    background-size: cover;
    border-radius: 22px;
}
.zabo_plant h4 {
    font-family: Noto Serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 170px 150px;
}
.zabo_plant a {
    font-family: Noto Serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: -218px;
} */

 /* Color full Bunch style */
 .color_full_bunch {
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    
 }
 .color_full_bunch h1 {
    color: #fff;
    text-align: center;
    padding: 199px 305px 0 305px;
 }
 .search {
    margin-top: 23px;
    justify-content: center;
    text-align: center;
    padding-bottom: 193px;
 }
  .search input {
    width: 644px;
    height: 50px;
    border: none;
  }
 .search input::placeholder {
    padding-left: 20px;
 }
.Subscribe_btn {
    background-color: #E95A08;
    border: none;
    width: 186px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}
/* Footer */
.footer {
    margin: 50px 150px;
    justify-content: space-between;
}
.footer_left {
    max-width: 359px;
}
.footer_left p {
    margin-top: 20px;
}


.footer_link li a{
    font-size: 1rem;
    font-family: Inter;
    color: rgba(107, 114, 128, 1);
    line-height: 50px;
}
.footer_right {
    gap: 24px;
}
.footer_right img {
    width: 36px;
    height: 36px;
}